[submodule "DevToolsServer/submodules/py_gitconfig"]
	path = DevToolsServer/submodules/py_gitconfig
	url = git@github.com:Longbranch-Vinaigrette/py_gitconfig.git
[submodule "DevToolsServer/submodules/py_dev_tools_utils"]
	path = DevToolsServer/submodules/py_dev_tools_utils
	url = git@github.com:Longbranch-Vinaigrette/py_dev_tools_utils.git
[submodule "DevToolsServer/submodules/py_sqlite3_utils"]
	path = DevToolsServer/submodules/py_sqlite3_utils
	url = git@github.com:Longbranch-Vinaigrette/py_sqlite3_utils.git
[submodule "DevToolsServer/submodules/py_dotenv5"]
	path = DevToolsServer/submodules/py_dotenv5
	url = git@github.com:Longbranch-Vinaigrette/py_dotenv5.git
[submodule "DevToolsServer/submodules/py_proces_utils"]
	path = DevToolsServer/submodules/py_proces_utils
	url = git@github.com:Longbranch-Vinaigrette/py_proces_utils.git
